%div{:style => "display:inline-block;"}
  %a{:href => "/movies/#{movie[1][:year]}/#{movie[1][:api_name]}"}
    %img.img-responsive.lazy{"data-original" => "#{movie[1][:logo]}", :alt => "#{movie[1][:name]}", :style => "max-width: 120px;", :width => "120px;"}
