= render :partial => "layouts/navbar"

%div
  - @movies.each do |movie_yearset|
    = "Year: #{movie_yearset[0]}"
    - movie_yearset[1..movie_yearset.size].each do |movies|
      = render :partial => "movies/movies", :locals => {:movies => movies}