.bradflix-sidebar {
  .sidebar {
    background: #f8f8f8;

    a {
      color: #777;
    }
  }
}

.bradflix-movies,
.bradflix-recent,
.bradflix-year, {
//  position: relative;
//  z-index: -1;
  margin: 15px 0 0 0;

  .container {
    margin-bottom: 30px;
  }
}

.movieCount {
  width: 300px;
  margin: 0 auto 8px;
  font-size: 14px;
  color: #777;
  text-align: center;
}

.strong {
  font-weight: bold;
}

.artwork {
  width: 250px;
  height: 375px;
}

.bradflix-description {
  margin: 30px 0 0 0;
}

.certified_fresh,
.rotten,
.upright,
.spilled,
.fresh {
  width: 15px;
  height: 15px;
  display: inline-block;
}

.certified_fresh {
  background: url(image_path('rotten_tomatoes/certified_fresh.png')) no-repeat;
}

.rotten {
  background: url(image_path('rotten_tomatoes/rotten.png')) no-repeat;
}

.upright {
  background: url(image_path('rotten_tomatoes/upright.png')) no-repeat;
}

.spilled {
  background: url(image_path('rotten_tomatoes/spilled.png')) no-repeat;
}

.fresh {
  background: url(image_path('rotten_tomatoes/fresh.png')) no-repeat;
}