.bradflix-movies,
.bradflix-recent,
.bradflix-year, {
  margin: 90px 0 0 0;
}

.strong {
  font-weight: bold;
}

.bradflix-description {
  margin: 30px 0 0 0;
}

.certified_fresh {

}

.rotten {

}

.upright {

}

.spilled {

}