.bradflix-sidebar {
  .sidebar {
    background: #f8f8f8;

    a {
      color: #777;
    }
  }
}

.bradflix-movies,
.bradflix-recent,
.bradflix-year,
.bradflix-description {
  .row {
    padding: 0 15px;
  }
}

.bradflix-movies,
.bradflix-recent,
.bradflix-year, {
  margin: 15px 0 0 0;

  .container {
    margin-bottom: 30px;
  }
}

.movieTitleAndCount {
  margin: 0 0 8px 0;
  font-size: 14px;
  color: #777;
  text-align: center;
}

.strong {
  font-weight: bold;
}

.artwork {
  width: 250px;
  height: 375px;
}

.bradflix-description {
  .page-header {
    margin: 0 0 20px;
  }
}

.certified_fresh,
.rotten,
.upright,
.spilled,
.fresh {
  width: 15px;
  height: 15px;
  display: inline-block;
}

.certified_fresh {
  background: url(image_path('rotten_tomatoes/certified_fresh.png')) no-repeat;
}

.rotten {
  background: url(image_path('rotten_tomatoes/rotten.png')) no-repeat;
}

.upright {
  background: url(image_path('rotten_tomatoes/upright.png')) no-repeat;
}

.spilled {
  background: url(image_path('rotten_tomatoes/spilled.png')) no-repeat;
}

.fresh {
  background: url(image_path('rotten_tomatoes/fresh.png')) no-repeat;
}

.bradflix-sidebar {
  .nav {
    &.sidebar {
      width: 156px;

      li {
        &.active {
          a {
            background: #ddd;
          }
        }
      }
    }
  }
}