%div.row
  %div{:class => "col-xs-12 col-sm-6 col-md-8", :style => "margin: 0 auto; width: 231px; float: none;"}
    = image_tag("brad_ww_character_300.png", :class => "img-responsive", :alt => "Responsive image")
