%div{:style => "background-color: #f8f8f8; border-bottom: 1px solid #e7e7e7; padding: 20px; margin: 0 0 20px 0;"}
  %div{:style => "margin: 0 auto; text-align: center; font-size: 14px; color: #777; position: none;"}
    %form{role: "search"}
      .form-group
        %input.typeahead.tt-query.form-control{autocomplete: "off", dir: "auto", placeholder: "search", spellcheck: "false", style: "width: 100%;", type: "text"}
